@using Medium_Assignment.Models.OrganizationFormViewModels

@model OrganizationFormViewModel

@{
    ViewBag.Title = "Form";
}

@if (ViewContext.RouteData.Values["action"].ToString().Equals("Edit"))
{
    <h2>Edit Organization</h2>

}
else
{

    <h2>Create Organization</h2>

}


@using (@Html.BeginForm("Save", "Organization", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Organization.Id)
    @Html.HiddenFor(m => m.Organization.ApplicationUserId)
    <div class="form-group">
        @Html.LabelFor(m => m.Organization.Name)
        @Html.TextBoxFor(m => m.Organization.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Organization.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.PhoneNumber)
        @Html.TextBoxFor(m => m.Organization.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Organization.PhoneNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.Email)
        @Html.TextBoxFor(m => m.Organization.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Organization.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.UserId)
        @Html.TextBoxFor(m => m.Organization.UserId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Organization.UserId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.Password)
        @Html.PasswordFor(m => m.Organization.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Organization.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.Address1)
        @Html.TextBoxFor(m => m.Organization.Address1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Organization.Address1)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.Address2)
        @Html.TextBoxFor(m => m.Organization.Address2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Organization.Address2)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.Country)
        @Html.DropDownListFor(m => m.Organization.CountryId, Model.CountriesSelectList, "Select Country", new { @class = "form-control text-danger", id = "Countries", })
        @Html.ValidationMessageFor(m => m.Organization.Country)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.State)
        @Html.DropDownListFor(m => m.Organization.StateId, Model.StatesSelectList, "Select State", new { @class = "form-control", id = "States" })
        @Html.ValidationMessageFor(m => m.Organization.State)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.City)
        @Html.DropDownListFor(m => m.Organization.CityId, Model.CitiesSelectList, "Select City", new { @class = "form-control", id = "Cities" })
        @Html.ValidationMessageFor(m => m.Organization.City)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Organization.Status)
    </div>

    <div class="form-group">
        @Html.RadioButtonFor(m => m.Organization.Status, "Active") Active
        @Html.RadioButtonFor(m => m.Organization.Status, "Inactive") Inactive
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Organization.Status)

    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.Organization.Description)
        @Html.TextAreaFor(m => m.Organization.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Organization.Description)
    </div>

    <button type="submit" class="btn btn-primary">
        Save
    </button>



}




@section Scripts {

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#Countries").change(function () {
                $("#States").empty();
                $("#States").append("<option value=0> Select State </option>");
                $("#Cities").empty();
                $("#Cities").append("<option value=0> Select City </option>");


                if ($("#Countries").val() == 0) {

                    return;
                }

                $.ajax({
                    type: "post",
                    url: "/Organization/GetStates",
                    data: { countryId: $("#Countries").val() },
                    datatype: "json",
                    traditional: "true",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#States").append("<option value=" + data[i].Value + ">" + data[i].Text + "</option>");

                        }
                    }


                });


            });



        });


    </script>

    <script>
        $(document).ready(function () {
            $("#States").change(function () {
                $("#Cities").empty();
                $("#Cities").append("<option value=0> Select City </option>");
                if ($("#States").val() == "0") {

                    return;
                }

                $.ajax({
                    type: "post",
                    url: "/Organization/GetCities",
                    data: { stateId: $("#States").val() },
                    datatype: "json",
                    traditional: "true",
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            $("#Cities").append("<option value=" + data[i].Value + ">" + data[i].Text + "</option>");

                        }
                    }


                });


            });



        });


    </script>

}


