@model Medium_Assignment.Models.ReviewIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("New Review", "New", "Review", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Review Id
        </th>

        <th>
            Agenda
        </th>

        <th>
            Reviewer
        </th>

        <th>
            Employee
        </th>

        <th>
            Status
        </th>



    </tr>

@foreach (var review in Model.Reviews) {
<tr>


    <td>
        @review.Id
    </td>

    <td>
        @review.Agenda
    </td>

    <td>
        @if (review.Reviewer == null)
        {
            <p>Unassigned</p>
        }
        else
        {
            @review.Reviewer.DisplayName
        }

    </td>

    <td>
        @if (review.Employee == null)
        {
            <p>Unassigned</p>
        }
        else
        {
            @review.Employee.DisplayName
        }
    </td>

    <td>
        @if (review.ReviewStatus.Id == 1)
        {
            @Html.ActionLink("New", "Assign", new { Id = review.Id })
        }

        @if (review.ReviewStatus.Id == 2)
        {
            @Html.ActionLink("Assigned", "Submit", new { Id = review.Id })
        }

        @if (review.ReviewStatus.Id == 3)
        {
            <p>Submitted</p>
        }
    </td>
</tr>
}

</table>
