@model Medium_Assignment.Models.DepartmentDetailsViewModel

@using Medium_Assignment.Models

@{AuthDetails authDetails = (AuthDetails)Context.Session["AuthDetails"];}


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Id, new { id = "Id" })

<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control text-danger", @disabled = "disabled" })
    @Html.ValidationMessageFor(m => m.Name)
</div>

@section Scripts {
    <script>

        function DepartmentDetailsModel() {
            this.Id = 0;
            this.Name = "";

        }

        function createFormModel(data) {
            let model = new DepartmentDetailsModel();
            model.Id = data.Id;
            model.Name = data.Name;
            return model
        }

        function submitForm() {

            $("#form").validate();

            if (!$("#form").valid()) {
                return;
            }

            return $.ajax({
                type: "put",
                url: "https://localhost:44357/api/departments/" + $("#Id").val(),
                data: {Name : $("#Name").val()},
                datatype: "json",
                traditional: "true",
                headers: {"Authorization": '@("Bearer " + authDetails.AccessToken)'},
                success: function (data) {
                    window.location.href = "https://localhost:44335/departments/";
                },

                error: errorHandler




            });

        }

        function getFormData() {

            return $.ajax({
                type: "get",
                url: "https://localhost:44357/api/departments/" + $("#Id").val(),
                datatype: "json",
                traditional: "true",
                headers: {"Authorization": '@("Bearer " + authDetails.AccessToken)'},

                error: errorHandler




            });
        }

        async function populateForm() {
            let formRequest = await getFormData();

            let model = createFormModel(formRequest);

            $("#Id").val(model.Id);
            $("#Name").val(model.Name);

        }

        $(document).ready(function () {
            populateForm();

        });


    </script>

}