@model Medium_Assignment.Models.DepartmentNewViewModel

@using Medium_Assignment.Models

@{AuthDetails authDetails = (AuthDetails)Context.Session["AuthDetails"];}



@{
    ViewBag.Title = "New";
}
<h2>New Department</h2>


@Html.AntiForgeryToken()

<form id="form">
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control text-danger" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <button type="submit" class="btn btn-primary" id="submit">
        Create
    </button>


</form>

@section Scripts {
    <script>

        function submitForm() {

            $("#form").validate();

            if (!$("#form").valid()) {
                return;
            }

            return $.ajax({
                type: "post",
                url: "https://localhost:44357/api/departments/",
                data: {Name : $("#Name").val()},
                datatype: "json",
                traditional: "true",
                headers: {"Authorization": '@("Bearer " + authDetails.AccessToken)'},
                success: function (data) {
                    alert("Posted.");
                    window.location.href = "https://localhost:44335/departments/";
                },

                error: function (jqXHR, status, err) {
                    
                    alert(jqXHR.responseJSON.ModelState[""]);

                    console.log(jqXHR.responseJSON);
                    console.log(jqXHR);
                    console.log(status);
                    console.log(err);
                    alert("Error creating new record.");
                }




            });

        }



        $("#submit").click(submitForm);

    </script>
    
}