@model Medium_Assignment.Models.OrganizationDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <ul>
        <li>

            @Html.DisplayNameFor(model => model.Organization.Name): @Model.Organization.Name
        </li>

        <li>

            @Html.DisplayNameFor(model => model.Organization.PhoneNumber): @Model.Organization.PhoneNumber
        </li>

        <li>

            @Html.DisplayNameFor(model => model.Organization.Email): @Model.Organization.Email
        </li>


        <li>

            @Html.DisplayNameFor(model => model.Organization.UserName): @Model.Organization.UserName
        </li>

        @if (!String.IsNullOrEmpty(Model.Organization.Address2))
        {
            <li>
                Address: @(Model.Organization.Address1 + ", " + Model.Organization.Address2)
            </li>
        }
        else
        {
            <li> Address: @Model.Organization.Address1 </li>

        }



        <li>

            @Html.DisplayNameFor(model => model.Organization.Country): @Model.Organization.Country
        </li>

        <li>

            @Html.DisplayNameFor(model => model.Organization.State): @Model.Organization.State
        </li>


        <li>

            @Html.DisplayNameFor(model => model.Organization.City): @Model.Organization.City
        </li>


        <li>

            @Html.DisplayNameFor(model => model.Organization.Status): @Model.Organization.Status
        </li>



        <li>

            @Html.DisplayNameFor(model => model.Organization.Description): @Model.Organization.Description
        </li>




    </ul>

</div>