@model Medium_Assignment.Models.OrganizationDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <ul>
        <li>

            @Html.DisplayNameFor(model => model.Organization.Name): @Model.Organization.Name
        </li>

        <li>

            @Html.DisplayNameFor(model => model.Organization.ApplicationUser.PhoneNumber): @Model.Organization.ApplicationUser.PhoneNumber
        </li>

        <li>

            @Html.DisplayNameFor(model => model.Organization.ApplicationUser.Email): @Model.Organization.ApplicationUser.Email
        </li>


        <li>

            @Html.DisplayNameFor(model => model.Organization.ApplicationUser.UserName): @Model.Organization.ApplicationUser.UserName
        </li>

        @if (!String.IsNullOrEmpty(Model.Organization.Address2))
        {
            <li>
                Address: @(Model.Organization.Address1 + ", " + Model.Organization.Address2)
            </li>
        }
        else 
        { 
            <li> Address: @Model.Organization.Address1 </li>      
        }
        


        <li>

            @Html.DisplayNameFor(model => model.Organization.Country): @Model.Organization.Country.Name
        </li>

        <li>

            @Html.DisplayNameFor(model => model.Organization.State): @Model.Organization.State.Name
        </li>


        <li>

            @Html.DisplayNameFor(model => model.Organization.City): @Model.Organization.City.Name
        </li>


        <li>

            @Html.DisplayNameFor(model => model.Organization.Status): @Model.Organization.Status
        </li>



        <li>

            @Html.DisplayNameFor(model => model.Organization.Description): @Model.Organization.Description
        </li>




    </ul>

</div>